[alias]
	last = log -1 HEAD
    oneline = log --oneline
	aco = "!git add . && git commit -m"
	word-diff = diff --word-diff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yrjar Vederhus
	email = yrjarvederhus@gmail.com
