[alias]
	last = log -1 HEAD
	aco = "!git add . && git commit -m"
	word-diff = diff --word-diff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yrjar Vederhus
	email = yrjarvederhus@gmail.com
[safe]
	directory = /home/y/uio
	directory = /home/y/uio/in1010
	directory = /home/y/uio/in1030
	directory = /home/y/uio/in1150
	directory = /home/y/uio/in2140
	directory = /home/y/uio/in5290
	directory = /home/y/uio/.dotfiles
	directory = /home/y/uio/oblig-in2140
