* {
  min-height: 0;
  min-width: 0;
  font-family: "Fira Code";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  /* background-color: #11111b; */
  background-color: rgba(24, 24, 37, 0.6);
}

#workspaces button {
  min-height: 0;
  min-width: 0;
  padding: 0.3em 0.6em;
  margin: 5px 4px;
  border-radius: 4px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-battery,
#cpu,
#tray,
#memory,
#window,
#custom-keyboard {
  min-height: 0;
  min-width: 0;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  margin: 5px 4px;
  color: #ffffff;
  /* background-color: #181825; */
  /* background-color: #9399b2; */
}

window#waybar.empty #window {
  background-color: transparent;
}


tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
