* {
  font-family: "Fira Code";
  font-size: 16px;
  font-weight: 600;
  background-color: black;
}

#workspaces button {
  padding: 0.3em 0.6em;
  margin: 5px 4px;
  color: white;
}

#workspaces button.active {
  color: lightgreen;
}

#workspaces button.urgent {
  color: red;
}

#clock,
#pulseaudio,
#custom-battery,
#cpu,
#tray,
#memory,
#window,
#custom-keyboard,
#keyboard-state,
#custom-hostname {
  padding: 0.3em 0.6em;
  margin: 5px 4px;
  color: white;
}

tooltip {
  background-color: black;
  border: 1px solid white;
}
