set number
set relativenumber

set tabstop=8
set softtabstop=8
set shiftwidth=4
set expandtab
set smarttab
set autoindent

set fileformat=unix
set clipboard+=unnamedplus
set mouse=a
set encoding=utf-8
set noswapfile

set colorcolumn=80
set textwidth=80
set formatoptions+=t

set scrolloff=7

nnoremap <Space>c :noh<CR>

colorscheme industry
